<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="\">Gestion de contact</a>
</div>
<button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
</button>
@inject LocalStorage storage
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
    
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @if (storage["token"] != null && storage["email"] != null)
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandSubNav = !expandSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"> </span> Administration
            </NavLink>
            <ul>
                <li>
                    @if (expandSubNav)
                    {
        <a class="nav-link" href="/Administrations/Contacts">
            <span aria-hidden="true"></span> Contact
        </a>}
                </li>
            </ul>            
        </li>
        }  
    </ul>
</div>


@code { private bool expandSubNav;
            private bool collapseNavMenu = true;

            private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            } }
